.page {
  margin-bottom: 100px;
}

.container {
  max-width: 1100px;
}

.gen-pdf-btn {
  margin-left: 20px !important;
  margin-top: 20px !important;
}

@media screen and (max-width: 1060px) {
  .container {
    max-width: 100%;
    overflow: hidden;
  }
}

.avatar {
  margin-top: 30px;
}

.profile-box {
  width: 1050px;
  margin: 30px auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding-left: 40px;
  padding-right: 20px;
}

@media screen and (max-width: 1060px) {
  .profile-box {
    margin: 0px;
  }
}

@media screen and (max-width: 924px) {
  .profile-box {
    padding: 0px;
    padding-right: 10px;
  }
}

.profile-box .left-side {
  background-color: #5829bb;
  color: #fff;
  padding: 40px 20px;
}

.profile-box .left-side .profile-info {
  padding: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: auto;
  max-width: 200px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #444;
  text-align: center;
}

.profile-box .left-side .profile-info img {
  width: 100%;
}

.profile-box .left-side .profile-info h3 {
  font-size: 1rem;
  margin-bottom: 0px;
  padding: 5px;
}

.profile-box .left-side .profile-info span {
  font-size: 0.9rem;
}
.profile-box .left-side .ltitle {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #fff;
}

.profile-box .left-side .contact-box {
  display: flex;
  padding: 10px 0px;
}

.profile-box .left-side .contact-box .icon {
  padding: 10px;
}

.profile-box .left-side .contact-box .icon i {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.profile-box .left-side .contact-box .detail {
  font-size: 0.9rem;
  margin: auto 0;
}

.profile-box .left-side .pb0 {
  padding-bottom: 0px;
}

.profile-box .left-side .social-link li {
  padding: 10px 15px;
}

.profile-box .left-side .refer-cov {
  padding: 8px;
}

.profile-box .left-side .refer-cov b {
  font-size: 0.9rem;
}

.profile-box .left-side .refer-cov p {
  font-size: 0.8rem;
}

.profile-box .left-side .refer-cov span {
  font-size: 0.9rem;
}

.profile-box .left-side .hoby li {
  float: left;
  font-size: 0.9rem;
  padding: 15px;
  text-align: center;
  width: 33.33%;
}

.profile-box .left-side .hoby li i {
  font-size: 22px;
  margin-bottom: 15px;
}

@media screen and (max-width: 924px) {
  .overcover {
    padding: 8px;
  }

  .rt-div {
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .left-co {
    padding-right: 0px;
  }

  .rt-div {
    padding-left: 30px;
  }
}

.rit-cover .hotkey {
  text-align: right;
  padding: 30px 20px;
}

.rit-cover .hotkey h1 {
  width: 100%;
  text-align: right;
  color: #c7c2c2;
}
.rit-cover .hotkey small {
  font-size: 1rem;
  color: #9c9898;
  margin-top: -30px;
  font-weight: 600;
}
.rit-cover .rit-titl {
  padding: 10px;
  border-bottom: 2px solid #ccc;
  font-size: 1.1rem;
}
.rit-cover .rit-titl i {
  font-size: 18px;
  margin-right: 5px;
}
.rit-cover .about {
  font-size: 0.9rem;
  text-align: justify;
  text-indent: 15px;
  padding: 5px 0px;
}
.rit-cover .about .btn-link li {
  float: left;
  margin-top: 15px;
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid #888;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #888;
}
@media screen and (max-width: 483px) {
  .rit-cover .about .btn-link li {
    margin-right: 5px !important;
    width: 100%;
    margin-bottom: 10px;
  }
}
.rit-cover .about .btn-link li i {
  margin-top: 5px;
  margin-left: -28px;
}
.rit-cover .about .btn-link li a {
  color: #888;
}
.rit-cover .work-exp {
  padding: 5px 0px;
}
.rit-cover .work-exp h6 {
  font-size: 0.9rem;
  margin-bottom: 0px;
}
.rit-cover .work-exp h6 span {
  float: right;
  font-size: 0.8rem;
}
.rit-cover .work-exp i {
  font-size: 0.9rem;
}
.rit-cover .work-exp ul {
  padding: 5px 0px;
}
.rit-cover .work-exp ul li {
  font-size: 0.9rem;
  padding-left: 5px;
}
.rit-cover .work-exp ul li i {
  margin-right: 5px;
}
.rit-cover .education {
  padding: 20px 0px;
}
.rit-cover .education ul li {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #ecebeb3d;
  padding: 10px 15px;
  font-size: 0.9rem;
}
.rit-cover .education ul li span {
  font-size: 0.8rem;
}
.rit-cover .profess-cover {
  padding: 20px 0px;
}
.rit-cover .profess-cover .prog-row {
  width: 100%;
  text-align: left;
  padding: 8px 2px;
  font-size: 0.9rem;
}
.rit-cover .profess-cover .prog-row div {
  padding: 0px;
}
.rit-cover .profess-cover .progress-bar {
  background-color: #00ab9f;
}
